<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- 인터넷 사용권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.ApplicationClass"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I"
        tools:targetApi="31">
        <activity
            android:name=".community.DiaryRainActivity"
            android:exported="false" />
        <activity
            android:name=".community.DiaryCareActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityQnaActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityTalkActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityInfoActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignupFinActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".community.ReviewWriteActivity"
            android:exported="false" />

        <activity
            android:name=".community.ReviewSearchActivity"
            android:exported="false" />

        <activity
            android:name=".market.WriteActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".mypage.FriendProfileActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".mypage.MyProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".mypage.LikeMarketActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".mypage.MyMarketActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".chat.MessageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".community.DiaryActivity"
            android:exported="false" />

        <activity
            android:name=".community.SearchActivity"
            android:exported="false" />

        <activity
            android:name=".community.ReviewActivity"
            android:exported="false" />

        <activity
            android:name=".community.CommunityWriteActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Main2Activity"
            android:exported="true">

        </activity>

        <activity
            android:name=".community.CommunityTalkroomActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.LikePostActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".toolbar.MenuActivity" />
        <activity android:name=".toolbar.NotiActivity" />
        <activity android:name=".toolbar.SearchActivity" />
        <activity android:name=".mypage.mypageSetting" />
        <activity
            android:name=".signup.SignupActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>